@charset "utf-8";

/* 样式重置 reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd,
ul,
ol,
input {
    /* 去掉自带外边距 */
    margin: 0;
    /* 去掉自带内边距 */
    padding: 0;
}

em,
i {
    /* 斜体扶正 */
    font-style: normal;
}

li {
    /* 去掉默认列表符 */
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
th {
    /* 去掉标题自带加粗 */
    font-weight: normal;
}

a {
    /* 去掉描边 */
    outline: none;
    /* 去掉下划线 */
    text-decoration: none;
}

img {
    /* 去掉IE浏览器图片外面的边框 */
    border: none;
    /* 图片对其方式 */
    vertical-align: top;
}

table {
    /* 去掉表格自带间隙 */
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td {
    text-align: left;
    vertical-align: top;
}

input {
    outline: none;
    border: none;
    /* 背景色透明 */
    background-color: transparent;
    font-family: inherit;
}

textarea {
    outline: none;
    /* 禁止调整文本域尺寸 */
    resize: none;
    /* 在浏览器默认状态下没有滚动条 */
    overflow: auto;
}

body {
    font-family: Anial, "微软雅黑", Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1;
    /* 禁止IOS调整字体大小 */
    -webkit-text-size-adjust: 100% !important;
}

a,
button,
input,
select,
textarea {
    /* 去掉a, input和button点击时的蓝色外边框和半透明背景 */
    -webkit-tap-highlight-color: rfba(0, 0, 0, 0);
}

/* public style */
.leftfix {
    float: left;
}

.rightfix {
    float: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}